<p id="notice"><%= notice %></p>

<h1>Listing Tryouts</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Fee</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tryouts.each do |tryout| %>
      <tr>
        <td><%= tryout.date %></td>
        <td><%= tryout.fee %></td>
        <td><%= tryout.address1 %></td>
        <td><%= tryout.address2 %></td>
        <td><%= tryout.city %></td>
        <td><%= tryout.state %></td>
        <td><%= tryout.zip %></td>
        <td><%= link_to 'Show', tryout %></td>
        <td><%= link_to 'Edit', edit_tryout_path(tryout) %></td>
        <td><%= link_to 'Destroy', tryout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tryout', new_tryout_path %>
