<!DOCTYPE html>
<html>
<head>
  <title>Tryoutapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


<p class="navbar-text pull-right">
<% if profile_signed_in? %>
  Logged in as <strong><%= current_profile.email %></strong>.
  <%= link_to 'Edit profile', edit_profile_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_profile_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_profile_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_profile_session_path, :class => 'navbar-link'  %>
<% end %>

<%= yield %>

</body>
</html>
